@media only screen and (min-width: 541px) 
{
.page-container {
  font-family: Arial, sans-serif;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.chat-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chat-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  border-radius: 10px;
}

.chat-list li:hover {
  background-color: #e5e5e5;
}

.chat-list li.active {
  background-color: #ccc;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-info {
  flex: 1;
}

.no-conversations {
  text-align: center;
  color: #777;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 0;
}
.task-bar {
  position: fixed;
  bottom: 0;
  left:  0;
  background-color: #333;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60;
  padding-top: 0px;
}
.task-bar li {
  margin-right: 10px;
  padding-top: 25px;
  padding-bottom: 25px;

 
}

.task-bar li:last-child {
  margin-right: 0;


}
.task-bar a {
  background-color: #444;
  color: #444;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.task-bar b {
  background-color: #fa2828;
  color: #444;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  }


.task-bar a:hover {
  background-color: #555;
}


.task-bar img {
  max-height: 40px;
  align-items: center;

}


.task-bar ul {
list-style: none;

margin: 0;
padding: 0;
justify-content: center;
align-items: center;
}
}

/*celular*/
@media only screen and (max-width: 540px)
{
  .page-container {
    font-family: Arial, sans-serif;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
  }
  
  .chat-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .chat-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .chat-list li:hover {
    background-color: #e5e5e5;
  }
  
  .chat-list li.active {
    background-color: #ccc;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .chat-info {
    flex: 1;
  }
  
  .no-conversations {
    text-align: center;
    color: #777;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 0;
  }
  .task-bar {
    height: 50px;
    margin: 0;
  }
  
  .task-bar a {
    padding: 10px;
  }
  
  .task-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .task-bar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  
  .task-bar li {
    margin-right: 10px;
    background-color: #444;
  }
  
  .task-bar li:last-child {
    margin-right: 0;
  }
  
  .task-bar a {
    background-color: #444;
    color: #444;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .task-bar img {
    margin-right: 5px;
    margin-left: 5px;
    max-height: 20px;
  }
  
  .task-bar a:hover {
    background-color: #555;
  }
  .task-bar b {
    background-color: #fa2828;
    color: #444;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    }
}