/* Estilos celilar */

@media only screen and (max-width: 540px) {
  header {
    background-color: #f1f1f1;
    padding: 0;
    text-align: center;
  }
  @font-face {
    font-family: 'Advent-pro';
    src: url('../fonts/advent-pro/adventpro-regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Medium.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Advent-semibold';
    src: url('../fonts/advent-pro/adventpro-semibold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color:  #fff8d8;
    margin: 0;
  }
  
  .config-menu {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    
   
  }
  
  .option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .option span {
    margin-right: 10px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #F95738 ;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #fa7055;
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
    align-self: center;
  }
  .config-menu {
    background-color: #EE964B;
    padding: 20px;
    border-radius: 5px;
  }

  .option {
    flex-direction: column;
    align-items: flex-start;
  }

  .option span {
    margin-bottom: 5px;
  }

  .task-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #EE964B;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .task-bar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
  }
  
  .task-bar li {
    margin-right: 10px;
    background-color: #444;
    border-radius: 5px;
  }
  

  
  .task-bar a {
    background-color: #F95738;
    color: #444;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .task-bar img {
    margin-right: 5px;
    margin-left: 5px;
    max-height: 20px;
  }
  
  .task-bar a:hover {
    background-color: #fa7055;
  }
  .task-bar b {
    background-color: #F4D35E;
    color: #444;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    }
}

/* Estilos para tabletas */
@media only screen and (min-width: 541px)  {
  header {
    background-color: #fff8d8;
    padding: 0;
    text-align: center;
  }
  @font-face {
    font-family: 'Advent-pro';
    src: url('../fonts/advent-pro/adventpro-regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Medium.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Advent-semibold';
    src: url('../fonts/advent-pro/adventpro-semibold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   background-color: #fff8d8 ;
    margin: 0;
  }
  
  .config-menu {
    background-color: #EE964B;
    padding: 20px;
    border-radius: 5px;
    
   
  }
  
  .option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .option span {
    margin-right: 10px;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #F95738;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #fa7055;
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  
  .config-menu {
    padding: 15px;
  }
  
  .task-bar {
    position: fixed;
    bottom: 0;
    left:  0;
    background-color: #ee984b;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60;
    padding-top: 0px;
  }
  .task-bar li {
    margin-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;

   
  }
  

  .task-bar a {
    background-color: #F95738;
    color: #444;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  .task-bar b {
    background-color: #f4d35e;
    color: #444;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    }
  
  
  .task-bar a:hover {
    background-color: #555;
  }
 
  
  .task-bar img {
    max-height: 40px;
    align-items: center;

  }

  
.task-bar ul {
  list-style: none;

  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  
}

}



