/*tablet*/
@media only screen and (min-width: 541px) and (max-width: 1024px)
{
  body
  {
    background-image: url('https://img.freepik.com/foto-gratis/fondo-acuarela-pintada-mano-forma-cielo-nubes_24972-1095.jpg');
    background-repeat: no-repeat;
    background-size: 100% 280%;
    overflow-y: hidden;
  }
  
  header
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  
  h1
  {
    margin: 20px 0 0 0;
    text-align: center;
  }
  
  img
  {
    max-width: 20%;
    height: auto;
    margin-top: 100px;
  }
  
  main
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  
  button
  {
    margin-top: -100px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.8rem;
    background-color: #4CAF50;
    color: white;
    border: none;
  }
}

/*Celular*/
@media only screen and (min-width: 220px) and (max-width: 540px)
{
  body
  {
    background-image: url('https://img.freepik.com/foto-gratis/fondo-acuarela-pintada-mano-forma-cielo-nubes_24972-1095.jpg');
    background-repeat: no-repeat;
    background-size: 100% 280%;
    overflow-y: hidden;
  }
  
  header
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  
  h1
  {
    margin: 20px 0 0 0;
    text-align: center;
  }

  img
  {
    max-width: 50%;
    height: auto;
    margin-top: 100px;
  }
  
  main
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  
  button
  {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.8rem;
    background-color: #4CAF50;
    color: white;
    border: none;
  }
}