/*tablet*/
@media only screen and (min-width: 541px)
{
  body
  {

    margin: 0;
    padding: 0;
    
    background-repeat: repeat;
    background-color: #fff8d8;
    background-size: 50%;
    overflow-y: hidden;
  }
  @font-face {
    font-family: 'Advent-pro';
    src: url('../fonts/advent-pro/adventpro-regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Medium.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Advent-semibold';
    src: url('../fonts/advent-pro/adventpro-semibold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  header
  {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  header img
  {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-right: 10px;
  }
  h1
  {
    margin: 1;
  }
  h2
  {
    margin: 1;
    text-align: center;
  }

  
  main
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(70vh - 100px);
    max-height: calc(100vh - 100px);
    padding: 82px;
   
   
  }
  section
  {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color:  #F4D35E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-width: 300px;
    margin-top: 100px;
    text-align: center;
    font-size: 1.2em;
  }
  section2
  {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9eac0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-width: 300px;
  }
  img
  {
    width: 30%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
  }
  form
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label
  {
    margin-bottom: 5px;
  }
  input
  {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  button
  {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color:  #F95738;
    color: #fff;
    border-radius: 5px;
    border-color: #F95738;
    }
    button:hover {
      background-color:  #fa7055;
    }
  footer
  {
    background-color: #333;
    color: #fff;
    padding: 0px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
/*Celular*/
@media only screen and (max-width: 540px)
{
  body
  {

    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    background-image: url(../imagenes/background.jpg);
    background-repeat: repeat;
    background-color: #fff8d8;
    background-size: 50%;
    overflow-y: hidden;
  }
  @font-face {
    font-family: 'Advent-pro';
    src: url('../fonts/advent-pro/adventpro-regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Medium.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Advent-semibold';
    src: url('../fonts/advent-pro/adventpro-semibold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  header
  {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  header img
  {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-right: 10px;
  }
  h1
  {
    margin: 0;
  }
  h2
  {
    margin: 10px 0 0 0;
    text-align: center;
  }
  section
  {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color:  #F4D35E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-width: 200px;
    margin-top: 50px;
    text-align: center;
    font-size: 1em;
  }
  section2
  {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9eac0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    max-width: 300px;
  }
  main
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(70vh - 100px);
    max-height: calc(100vh - 100px);
    padding: 82px;
  }
  img
  {
    width: 100%;
    max-width: 50px;
    height: auto;
    margin-bottom: 20px;
  }
  form
  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  label
  {
    margin-bottom: 5px;
  }
  input
  {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  button
  {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color:  #F95738;
    color: #fff;
    border-radius: 5px;
    border-color: #F95738;
  }
  button:hover {
    background-color:  #fa7055;
  }
  footer
  {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
