body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8d8;
}


  @font-face {
    font-family: 'Advent-pro';
    src: url('../fonts/advent-pro/adventpro-regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Medium.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Advent-semibold';
    src: url('../fonts/advent-pro/adventpro-semibold.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }

header {
  background-color: #333;
  color: #fff;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 2px solid #000;
}

h1 {
  margin: 0;
  color: #fff;
  font-size: 18px;
}

header img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-left: 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(70vh - 100px);
  max-height: calc(100vh - 100px);
  padding: 82px;
}

section {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #F4D35E;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  max-width: 300px;
}

label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  margin-top: 5px;
  background-color:  #F95738;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color:  #fa7055;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}

/* Estilos Celular */
@media (max-width: 480px) {
  h1 {
    font-size: 16px;
  }

  main {
    padding: 50px;
  }

  section {
    max-width: 250px;
  }
  
  header {
    display: none;
  }
}

/* Estilos Tablet */
@media (min-width: 481px) and (max-width: 1024px) {
  h1 {
    font-size: 20px;
  }

  main {
    padding: 70px;
  }

  section {
    max-width: 350px;
  }
  
  /* Ocultar el encabezado en tabletas */
  header {
    display: none;
  }
}


/* Estilos Escritorio */
@media (min-width: 1025px) {
  h1 {
    font-size: 24px;
  }

  main {
    padding: 100px;
  }

  section {
    max-width: 450px;
  }
}
